<!-- Navigation Menu -->
<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <a href="/" class="text-white text-lg font-bold">
            Cuir et Crinière
        </a>
        
        <!-- Navigation Links -->
        <div class="flex space-x-4">
            <a href="/home" class="text-gray-300 hover:text-white">Acceuil</a>
            <a href="{{ path('app_equipment') }}" class="text-gray-300 hover:text-white">Inventaire</a>
            {% if app.user %}
                <a href="{{ path('user_reservations') }}" class="text-gray-300 hover:text-white">My Reservations</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="/admin" class="text-gray-300 hover:text-white">Admin</a>
            {% endif %}
        </div>
        
        <!-- User Buttons (Login/Logout) -->
        <div class="flex items-center space-x-4">
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="text-gray-300 hover:text-white font-medium">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="text-gray-300 hover:text-white font-medium">Connexion</a>
                <a href="{{ path('app_register') }}" class="text-gray-300 hover:text-white font-medium">Inscription</a>
            {% endif %}
        </div>
        
        <!-- Mobile Button -->
        <div class="md:hidden">
            <button id="menu-button" class="text-gray-300 hover:text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>
</nav>
